<div class="row mb-2">
  <div class="col-12">
    <a href class="btn btn-primary" routerLink="/posts">{{'go_back' | translate}}</a>
  </div>
</div>
<mat-card>
  <mat-card-header>
    <mat-card-title>{{'edit_post' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-12">
        <form [formGroup]="editForm">
          <div class="edit-container">
            <mat-form-field>
              <input matInput placeholder="{{'title' | translate}}" formControlName="title">
            </mat-form-field>
            <mat-form-field>
              <textarea matInput placeholder="{{'body' | translate}}" formControlName="body"></textarea>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="col-12">
        <button class="btn btn-primary" (click)="save()">{{'save' | translate}}</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
